{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src/**"
                ],
                "alias": {
                    "@": "./src",
                    "@component": "./src/js/component",
                    "@style": "./src/css"
                }
            }
        ]
    ]
}