@import url('./index.css');
#footer {
    margin-left: var(--nav-width);
    display: flex;
    align-items: center;
    justify-content: center;
}
#foot-text {
    color: var(--red-c);
    font-weight: 900;
}
.foot-item {
    --size: 1.8rem;
    margin: 2px;
    width: var(--size);
    height: var(--size);
    color: white;
}