@import url('./index.css');
#home-page {
    margin: 0;
    padding: 0;
}
#home-title, #home-subtitle {
    font-size: 6vw;
    text-align: center;
    color: var(--color5);
}
#home-subtitle {
    font-size: 2.2vw;
    word-spacing: 0.4vw;
    color: var(--color4);
}
.home-title-text {
    animation: fade-in 0.5s calc(var(--i) * 0.3s + 2s);
}