@import url('./index.css');
#navigation {
    --size: 2rem;
    --width: min(4rem, 80px);
    position: fixed;
    margin: 0;
    padding: 0;
    width: var(--width);
    height: 100vh;
    background-color: var(--black-d);
    box-shadow: 4px 0 10px -3px #010101;
}
#nav-logo {
    margin: 0;
    padding: 0;
    width: var(--width);
    height: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, var(--red-c), var(--red-b) 80%);
    color: var(--white-a);
}
#nav-logo:hover {
    cursor: pointer;
}
#nav-list {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: var(--width);
    color: var(--white-a);
    user-select: none;
}
.nav-item {
    margin: 20px 0;
    padding: 0;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    color: var(--gray-a);
    animation: fade-in 0.4s calc(var(--i) * 0.4s + 0.3s);
    transition: color 0.3s;
}
.nav-item:hover {
    cursor: pointer;
    color: var(--red-c);
    transition: color 0.3s;
}
.nav-item-text {
    position: absolute;
    z-index: 1;
    opacity: 0;
    padding: 5px 7px;
    background-color: var(--black-e);
    color: var(--white-a);
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
    border-radius: 7px;
    transform: translateX(20px);
    transition: opacity 0.3s;
}
.nav-item:hover .nav-item-text {
    opacity: 1;
    transition: opacity 0.3s;
}