:root {
    --nav-width: min(4rem, 80px);

    --gradient-a: linear-gradient(to bottom right, var(--red-c), var(--red-b) 80%);

    --black-a: #000000;
    --black-b: #191923;
    --black-c: #0e0e13;
    --black-d: #202027b4;
    --black-e: #2a2a2eb4;
    --black-f: #2a2a2e77;
    --black-g: #151520;
    --gray-a: #868686;
    --white-a: #ffffff;
    --white-b: #f4fAff;
    --green-a: #29bf12;
    --green-b: #8ffc7e;
    --green-c: #5bff42;
    --red-a: #e84855;
    --red-b: #ff3c4c;
    --red-c: #ff6673;
}
::selection {
    background-color: var(--red-b);
}
body {
    top: 0;
    margin: 0;
    padding: 0;
    background-color: var(--black-c);
    font-family: 'Ubuntu';
}
body::-webkit-scrollbar {
    width: 7px;
}
#website {
    top: 0;
    margin: 0;
    padding: 0;
}
#main {
    top: 0;
    margin-left: var(--nav-width);
    padding: 0;
}
.hidden {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-2vw);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes jiggle {
    10% { transform: rotate(0deg); }
    33% { transform: rotate(-5deg); }
    66% { transform: rotate(5deg); }
    99% { transform: rotate(0deg); }
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/font/Ubuntu.ttf');
}