@import url('./index.css');
#login-page {
    --size: 3rem;
    margin: 0;
    padding: 0;
}
#authentication-container {
    margin: 50px auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 70vw;
    box-shadow: 8px 8px 7px -3px #010101;
    background-color: var(--black-f);
    color: var(--white-a);
    border-radius: 20px;
    animation: fade 0.5s 0.1s forwards;
}
#authentication-title {
    font-size: 3rem;
    font-weight: 900;
}
#authentication-msg {
    font-size: 2rem;
    font-weight: 500;
    color: var(--red-b);
}
#authentication-buttons {
    margin: 20px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
#login, #register {
    cursor: pointer;
    margin: auto 10px;
    padding: 15px;
    background-color: var(--black-a);
    border-radius: 15px;
    font-size: 2rem;
    transition: border-radius 0.3s, background-color 0.3s;
    user-select: none;
}
#login:hover, #register:hover {
    background-color: var(--red-b);
    border-radius: 25px;
    transition: border-radius 0.3s, background-color 0.3s;
}
.authentication-section {
    margin-top: 30px;
    width: 80%;
}
.authentication-field {
    --color: var(--white-a);
    margin: 10px 0;
    padding: 0.4rem 0.8rem;
    width: 100%;
    color: var(--white-b);
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 7px -3px var(--color);
    background-color: var(--black-c);
    outline: none;
    transition: box-shadow 0.3s;
}
.authentication-field-title {
    margin: 5px;
    font-size: 2rem;
    font-weight: 600;
}
.authentication-button {
    --size: 3vw;
    cursor: pointer;
    margin: auto 10px;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    transition: background-color 0.3s;
}
.authentication-button:hover {
    background-color: var(--red-b);
    transition: background-color 0.3s;
}