#home-page {
    margin: 0;
    padding: 0;
}
#home-title {
    margin: 10px 0 5px;
    font-size: 6rem;
    text-align: center;
    color: var(--white-a);
}
.home-title-text {
    display: inline-block;
    opacity: 0;
    animation: fade-in 0.3s calc(var(--i) * 0.1s);
    animation-fill-mode: forwards;
}
#home-subtitle {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    word-spacing: 0.5rem;
    color: var(--white-b);
    opacity: 0;
    animation: fade-in 0.5s 0.4s;
    animation-fill-mode: forwards;
}
#home-info {
    margin: 5rem 0 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}
.home-info-item {
    --width: 25rem;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    width: var(--width);
    background-color: var(--black-e);
    color: var(--white-a);
    border-radius: 15px;
    box-shadow: 8px 8px 7px -3px #010101;
    opacity: 0;
    animation: fade-in 0.2s calc(var(--i) * 0.1s + 0.3s);
    animation-fill-mode: forwards;
}
.home-info-item-title {
    font-size: 1.7rem;
    text-align: center;
}
.home-info-item-desc {
    position: relative;
}
.home-info-item-desc-item {
    margin: 10px;
    padding: 0;
    padding-left: 25px;
    font-size: 1.3rem;
}
.home-info-item-desc-item::before {
    position: absolute;
    content: '✓';
    color: var(--green-a);
    left: 5px;
}